export PAIRWISE_MYSQL_USER=
export PAIRWISE_MYSQL_PASSWORD=
export PAIRWISE_MYSQL_HOST=
export PAIRWISE_MYSQL_DATABASE=aoi_pairwise_development
export RAILS_MASTER_KEY=
export S3_KEY=
export S3_SECRET=
export S3_BUCKET=
export SENDGRID_API_KEY=
export RAILS_MASTER_KEY=
export GOOGLE_ANALYTICS_TRACKER_ID=
export RAILS_CREDENTIALS=
rails s -p 3072
